* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 48px;
  font-weight: 9
  00;
}
.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 20px 120px 80px 120px;
}
.header ul, .secondary {
  font-size: 18px;
  color: #E5E7EB;
}
.header ul {
  list-style: none;
  display: flex;
}
.header li {
  padding-left: 20px;
}
.header p {
  margin: 0 0 10px 0;
}
.header img {
  width: 500px;
  height: 250px;
}
.header button {
  background-color: #3882F6;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  padding: 8px 24px;
}
.hero, .logo, .header button {
  color: #F9FAF8;
}
.logo {
  font-size: 24px;
}
.header-one, .header-two {
  display: flex;
  justify-content: space-between;
}
.header-one {
  margin: 0 0 120px 0;
}
.header-two {
  gap: 50px;
}

.section-two {
  display: flex;
  justify-content: center;

}
.image-row {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.image-row img {
  border: solid 4px #3882F6;
  border-radius: 8px;
}
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin: 40px 0;
}
.card {
  width: 208px;
}
.card p {
  text-align: center;
  padding: 0 0 100px 0;
}

.section-three {
  background-color: #E5E7EB;
  padding: 100px 200px;
}
.quote {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 300;
}
.attribution {
  color: #1F2937;
  font-weight: 900;
  text-align: right;
  font-size: 24px;
  padding-right: 100px;
}